@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.main-div{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: aquamarine;
}

.inner-div{
    width: 750px;
    background-color: #fff;
    padding: 30px 80px;
    border-radius: 10px;

}

.inner-div h2{
    font-size: 35px;
    font-weight: 400;
    margin: 10px 0 40px 0;
}

.inner-div li{
    font-size: 20px;
    margin-top: 15px;
    list-style: none;

}

input{
    cursor: pointer;
}

#submit, .btn{
    padding: 10px 30px;
    outline: none;
    font-size: 20px;
    display: block;
    margin: auto;
    text-transform: uppercase;
    color: #fff;
    background-color: #74b9ff;
    margin-top: 30px;
    cursor: pointer;
}

#submit:hover{
    background-color:#0984e3 ;
}

#showScore{
    background-color: #dfe6e9;
    margin-top: 30px;
    padding: 30px 40px;
    box-shadow: 0 1px 1px -7px rgba(0, 0, 0, 0.4);

}

#showScore h3{
    font-size: 30px;
    text-align: center;
}

#showScore .btn{
    margin-top: 20px;
    background-color: #55efc4;
    color: #2d3436;
}

#showScore .btn:hover {
    background-color: #00b894;
    color: #fff;
}


.scoreArea{
    display: none;
}